.main {
  font-family: Arial;
  color: #262626;
  font-size: .9375em;
  line-height: 1.6;
}

.main a {
  text-decoration: none;
  color: #262626;
}

.main .web-header {
  background: #0c0c0c none repeat scroll 0% 0%;
  color: #e6e6e6;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  height: 5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: .9em;
  font-weight: 500;
}

.main .web-header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main .web-header .row .col-7 .logo {
  width: 5%;
  margin-left: 6%;
  line-height: 0;
}

.main .web-header .row .col-7 .menu {
  position: relative;
  list-style: none;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  opacity: 1;
  width: 85%;
  margin-left: 2%;
  line-height: 2.5;
}

.main .web-header .row .col-7 .menu li {
  margin-right: 2%;
  white-space: nowrap;
  cursor: pointer;
}

.main .web-header .row .col-5 .empty {
  width: 50%;
}

.main .web-header .row .col-5 nav {
  width: 50%;
}

.main .web-header .row .col-5 nav ul {
  position: relative;
  list-style: none;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  opacity: 1;
  width: 100%;
  margin-left: 8%;
}

.main .web-header .row .col-5 nav ul li {
  width: 18%;
  position: relative;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .web-header .row .col-5 nav ul .edition {
  width: 30%;
  font-size: .8rem;
}

.main .mobile-header {
  display: none;
}

.main .menu-bar nav ul {
  list-style: none;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main .menu-bar nav ul li {
  display: inline-block;
  margin-right: .5%;
  padding-right: .5%;
  border-right: 2px solid #a6a6a6;
}

.main .menu-bar nav ul li h3 {
  font-weight: 600;
  font-size: 14px;
  padding-right: 0;
}

.main .menu-bar nav ul li h3 .label {
  color: #e30000;
  letter-spacing: 0;
  text-transform: uppercase;
}

.main .first-box .row {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .first-box .row .first-col ul {
  list-style: none;
}

.main .first-box .row .first-col ul .banner .banner-titr {
  font-size: 36px;
  white-space: normal;
  display: inline-block;
  text-align: center;
  word-spacing: -.05em;
  font-weight: 600;
  line-height: 1.11111;
}

.main .first-box .row .first-col ul .banner .banner-media {
  overflow: hidden;
}

.main .first-box .row .first-col ul .banner .banner-media img {
  height: auto;
}

.main .first-box .row .first-col ul .banner .banner-content {
  padding: 7px 0;
}

.main .first-box .row .first-col ul .banner .banner-content h3 {
  font-size: 1.06667rem;
  line-height: 1.25;
  font-weight: 700 !important;
}

.main .first-box .row .first-col ul li {
  margin-top: 0;
}

.main .first-box .row .first-col ul li .news {
  border-top: 1px solid #c7c2c2;
}

.main .first-box .row .first-col ul li .news h3 {
  font-weight: 300;
  font-size: .95rem;
  line-height: 1.33333;
}

.main .first-box .row .first-col ul li .news h3 strong {
  font-weight: 850;
}

.main .first-box .row .second-col ul {
  list-style: none;
}

.main .first-box .row .second-col ul .mini-banner .banner-media img {
  height: auto;
}

.main .first-box .row .second-col ul .mini-banner .mini-banner-titr h3 {
  font-size: 1.06667rem;
  line-height: 1.25;
  font-weight: 700 !important;
}

.main .first-box .row .second-col ul .description .desc {
  font-size: .93333rem;
  line-height: 1.28571;
  -webkit-text-decoration: gray !important;
          text-decoration: gray !important;
}

.main .first-box .row .third-col ul {
  list-style: none;
}

.main .first-box .row .third-col ul .mini-banner .banner-media img {
  height: auto;
}

.main .first-box .row .third-col ul .mini-banner .mini-banner-titr h3 {
  font-size: 1.06667rem;
  line-height: 1.25;
  font-weight: 700 !important;
}

.main .first-box .row .third-col ul li {
  margin-top: 0;
}

.main .first-box .row .third-col ul li .news {
  border-bottom: 1px solid #c7c2c2;
}

.main .first-box .row .third-col ul li .news h3 {
  font-weight: 300;
  font-size: .95rem;
  line-height: 1.33333;
}

.main .first-box .row .third-col ul li .news h3 svg {
  color: red;
}

.main .first-box .row .third-col ul li .news h3 strong {
  font-weight: 850;
}

.main .general-news .container-header {
  overflow: hidden;
}

.main .general-news .container-header .h2-style {
  color: #262626;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.25;
  padding: 0 0 15px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main .general-news .container-header .h2-style:after {
  content: "";
  width: 85%;
  height: 9px;
  display: inline-block;
  position: absolute;
  margin-top: 1%;
  border-top: 4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
}

.main .general-news .row .typical-col .titr {
  background-color: #f2f2f2;
}

.main .general-news .row .typical-col .titr .title {
  color: #404040;
  font-size: 1.06667rem;
  font-weight: 700;
  line-height: 1.375;
}

.main .general-news .row .typical-col .titr .have-continu {
  margin-right: 53.6%;
}

.main .general-news .row .typical-col .titr .continu {
  color: #404040;
  background-color: #e6e6e6;
  position: relative;
  width: 35px;
  padding: 7px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  line-height: 1.29412;
  font-weight: 700;
  font-size: 1.13333rem;
}

.main .general-news .row .typical-col ul {
  list-style: none;
}

.main .general-news .row .typical-col ul .mini-banner .banner-media img {
  height: auto;
}

.main .general-news .row .typical-col ul .mini-banner .mini-banner-titr .image-status {
  background: #001a2c;
  color: #fefefe;
  position: absolute;
  bottom: 108%;
  left: 0;
  padding: 12px 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.33;
  font-size: 0.8rem;
}

.main .general-news .row .typical-col ul .mini-banner .mini-banner-titr h3 {
  font-size: 1.06667rem;
  line-height: 1.25;
  font-weight: 700 !important;
}

.main .general-news .row .typical-col ul li .news {
  border-top: 1px solid #c7c2c2;
}

.main .general-news .row .typical-col ul li .news .timeset {
  color: #737373;
  float: right;
  font-weight: 700;
  font-size: 12px;
  font-size: .8rem;
}

.main .general-news .row .typical-col ul li .news .timeset-red {
  color: #c00;
}

.main .general-news .row .typical-col ul li .news .news-media {
  width: 30%;
}

.main .general-news .row .typical-col ul li .news .news-media img {
  height: auto;
}

.main .general-news .row .typical-col ul li .news .news-content {
  width: 70%;
}

.main .general-news .row .typical-col ul li .news .news-content .news-content-style {
  font-size: 1.33rem;
  font-weight: 300;
  line-height: 1.2;
}

.main .general-news .row .typical-col ul li .news .news-content h3 {
  font-weight: 300;
  font-size: .95rem;
  line-height: 1.33333;
  line-height: 1.2 !important;
}

.main .general-news .row .typical-col ul li .news .news-content h3 svg {
  color: red;
}

.main .general-news .row .typical-col ul li .news .width-40 {
  width: 40%;
}

.main .general-news .row .typical-col ul li .news .width-60 {
  width: 60%;
}

.main .general-news .row .typical-col ul li .news h3 {
  font-weight: 300;
  font-size: .95rem;
  line-height: 1.33333;
}

.main .general-news .row .typical-col ul li .news h3 .icon-play {
  color: #a6a6a6;
}

.main .general-news .row .typical-col ul li .news h3 svg {
  color: red;
}

.main .watch .container-header {
  overflow: hidden;
}

.main .watch .container-header .h2-style {
  color: #262626;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.25;
  padding: 0 0 15px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main .watch .container-header .h2-style:after {
  content: "";
  width: 85%;
  height: 9px;
  display: inline-block;
  position: absolute;
  margin-top: 1%;
  border-top: 4px solid #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
}

.main .watch .row .watch-col .video img {
  width: 100%;
  height: auto;
}

.main .watch .row .watch-col .video .watch-content {
  background-color: #e6e6e6;
  margin-top: -28px;
  padding: 3px 20px 15px;
  margin: 6px 30px 0px 30px;
  z-index: 3;
  position: relative;
}

.main .watch .row .watch-col .video .watch-content svg {
  color: #c00;
  font-weight: 400;
  font-size: 1.46667rem;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.main .watch .row .watch-col .video .watch-content span {
  overflow: hidden;
  font-weight: 300;
  font-size: 1.32rem;
  color: #262626;
  text-align: center;
  line-height: 1.25;
}

@media (max-width: 996px) {
  .main .web-header {
    display: none;
  }
  .main .mobile-header {
    background: #0c0c0c none repeat scroll 0% 0%;
    color: #e6e6e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: .9em;
    font-weight: 500;
  }
  .main .mobile-header .row .col-2 .m-menu ul {
    position: relative;
    list-style: none;
    -webkit-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
    opacity: 1;
    line-height: 3;
  }
}
/*# sourceMappingURL=style.css.map */