@mixin header-menu {
    position: relative;
    list-style: none;
    transition: opacity 0.5s ease 0s;
    opacity: 1;
}
@mixin ul-func {
    list-style: none;
}
@mixin h3-style {
    font-size: 1.06667rem;
    line-height: 1.25;
    font-weight: 700 !important;
}
@mixin news-li-style {
    font-weight: 300;
    font-size: .95rem;
    line-height: 1.33333;
}
@mixin title {
    font-size: 1.06667rem;
    font-weight: 700;
    line-height: 1.375;
}
@mixin timeset {
    color: #737373;
    float: right;
    font-weight: 700;
    font-size: 12px;
    font-size: .8rem;
}
@mixin timeset-red {
    color: #c00;
}
.main{
    font-family:Arial;
    color: #262626;
    font-size: .9375em;
    line-height: 1.6;
    a{
        text-decoration: none;
        color: #262626;
    }
    .web-header{
        background: rgb(12, 12, 12) none repeat scroll 0% 0%;
        color: rgb(230, 230, 230);
        min-height: 40px;
        display: flex;
        position: sticky;
        z-index: 3;
        height: 5vh;
        box-sizing: border-box;
        font-size: .9em;
        font-weight: 500;
        .row{
            align-items: center;
            overflow: hidden;  
            .col-7{
                .logo{
                      width: 5%;
                      margin-left: 6%;
                      line-height: 0;
                }
                .menu{
                      @include header-menu();
                      width: 85%;
                      margin-left: 2%;
                      line-height:2.5;
                      li{
                        margin-right: 2%;
                        white-space: nowrap;
                        cursor: pointer;
                       }
                }
            }
            .col-5{
                .empty{
                       width: 50%;
                }
                nav{
                    width: 50%;
                    ul{
                        @include header-menu();
                        width: 100%;
                        margin-left: 8%;
                        li{
                            width: 18%;
                            position: relative;
                            cursor: pointer;
                            align-items: center;
                        }
                        .edition{
                            width: 30%;
                            font-size: .8rem;
                        }
                    }


                }
            }
        }
    }
    .mobile-header{
        display: none;
    }
    .menu-bar{
        nav{
            ul{
                @include ul-func();
                white-space: nowrap;
                overflow-x: scroll;
                overflow-x: hidden;
                overflow-y: hidden;
                li{
                    display: inline-block;
                    margin-right: .5%;
                    padding-right: .5%;
                    border-right:2px solid #a6a6a6 ;
                    h3{
                        font-weight: 600;
                        font-size: 14px;
                        padding-right: 0;
                        .label{
                            color: #e30000;
                            letter-spacing: 0;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .first-box{
        .row{
            background-color: rgba(0,0,0,0);
            justify-content: space-between;
            .first-col{
                ul{
                    @include ul-func();
                    .banner{
                        .banner-titr{
                            font-size: 36px;
                            white-space: normal;
                            display: inline-block;
                            text-align: center;
                            word-spacing: -.05em;
                            font-weight: 600;
                            line-height: 1.11111;
                        }
                        .banner-media{
                            overflow: hidden;
                            img{
                                height: auto;
                            }
                        }
                        .banner-content{
                            padding: 7px 0;
                            h3{
                                @include h3-style();
                            }
                        }
                    }
                    li{
                        margin-top: 0;
                        .news{
                            border-top:1px solid rgb(199, 194, 194) ;
                            h3{
                                 @include news-li-style();
                                strong{
                                    font-weight: 850;
                                }

                            }
                        }
                    }
                }
            }
            .second-col{
                ul{  
                    @include ul-func();
                    .mini-banner{
                        .banner-media{
                            img{
                                height: auto;
                            }
                        }
                        .mini-banner-titr{
                            h3{
                                @include h3-style();
                            }
                        }
                    }
                    .description{
                        .desc{
                            font-size: .93333rem;
                            line-height: 1.28571;
                            text-decoration: gray !important;
                        }
                    } 
                }
            }
            .third-col{
                ul{
                    @include ul-func();
                    .mini-banner{
                        .banner-media{
                            img{
                                height: auto;
                            }
                        }
                        .mini-banner-titr{
                            h3{
                                @include h3-style();
                            }
                        }
                    }
                    li{
                        margin-top: 0;
                        .news{
                            border-bottom:1px solid rgb(199, 194, 194) ;
                            h3{
                                @include news-li-style();
                                svg{
                                    color: red;
                                }
                                strong{
                                    font-weight: 850;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .general-news{
        .container-header{
            overflow: hidden;
            .h2-style{
                color: #262626;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 1.25;
                padding: 0 0 15px;
                position: relative;
                width: 100%;
                overflow: hidden;
                &:after{
                    content:"" ;
                    width: 85%;
                    height: 9px;
                    display: inline-block;
                    position: absolute;
                    margin-top: 1%;
                    border-top: 4px solid #d9d9d9;
                    border-bottom:4px solid #d9d9d9 ;
                }
            }
            .h2-style2{
                color: #262626;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 1.25;
                padding: 0 0 15px;
                position: relative;
                width: 100%;
                overflow: hidden;
                &:after{
                    content:"" ;
                    width: 85%;
                    height: 9px;
                    display: inline-block;
                    position: absolute;
                    margin-top: 1%;
                    border-bottom: 4px solid #c00;
                    border-top: 4px solid #c00;
                }
            }
        }
        .row{
            .typical-col{
                .titr{
                    background-color: #f2f2f2;
                    .title{
                        color: #404040;
                        @include title();  
                    }
                    .have-continu{
                        margin-right: 53.6%;
                    }
                    i{
                        color: #404040;
                        background-color: #e6e6e6;
                        position: absolute;
                        right: 0;
                        width: 20px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        padding-left: 7px;
                        transition: background-color .3s;                                                          
                        line-height: 1.29412;
                        font-weight: 700; 
                        font-size: 1.13333rem;
                    }
                    // svg{
                    //     color: #404040;
                    //     background-color: #e6e6e6;
                    //     position: absolute;
                    //     right: 0;
                    //     width: 35px;
                    //     padding: 7px;
                    //     transition: background-color .3s;                                                          
                    //     line-height: 1.29412;
                    //     font-weight: 700; 
                    //     font-size: 1.13333rem;
                    // }
                    // .continu{
                    //     color: #404040;
                    //     background-color: #e6e6e6;
                    //     position: relative;
                    //     right: 0;
                    //     width: 35px;
                    //     padding: 7px;
                    //     transition: background-color .3s;                                                          
                    //     line-height: 1.29412;
                    //     font-weight: 700; 
                    //     font-size: 1.13333rem;
                    // }
                }
                ul{
                    @include ul-func();
                    .mini-banner{
                        .banner-media{
                            img{
                                height: auto;
                            }
                            i{
                                display: inline-block;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 1;
                                padding: 7px;
                                background: rgba(12,12,12,.3);
                                color: #fefefe;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
                        .mini-banner-titr{
                            .image-status{
                                background: #001a2c;
                                color: #fefefe;
                                position: absolute;
                                bottom: 100%;
                                left: 0;
                                padding: 12px 10px;
                                text-transform: uppercase;
                                font-weight: 700;
                                line-height: 1.33;
                                font-size: 0.8rem;
                            }
                            .paid-content{
                                font-weight: 500;
                                padding: 3px 0 0px;
                                text-align: left;
                                line-height: 1.25;
                                font-size: 1rem;
                            }
                            .source{
                                color: #888;
                                padding: 0px 0 0px;
                                text-align: left;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 1.28571;
                            }
                            h3{
                                @include h3-style();
                            }
                            .h3-style2{
                                font-weight: 650;
                                line-height: 1.2;
                                font-size: 1.333rem;
                            }
                            .h3-color{
                                color: #fefefe;
                            }
                            .big-titr{
                                font-weight: 300;
                                font-size: 2rem;
                                line-height: 1.13333;
                            }
                        }
                        .mini-banner-titr2{
                            width: 100%;
                            background: rgba(38,38,38,.85);
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            padding-left: 10px;
                            padding-right: 10px;
                            padding: 7px 0;
                        }
                    }
                    li{
                        .news{
                            border-top:1px solid rgb(199, 194, 194) ;
                            .timeset{
                                @include timeset();
                            }
                            .timeset-red{
                                @include timeset-red();
                            }
                            .news-media{
                                width: 30%;
                                img{
                                    height: auto;
                                }
                            }
                            .news-content{
                                width: 70%;
                                .news-content-style{
                                    font-size: 1.33rem;
                                    font-weight: 300;
                                    line-height: 1.2;
                                }
                                h3{
                                    @include news-li-style();
                                    line-height: 1.2 !important;
                                    svg{
                                        color: red;
                                    }
                                }
                            }
                            .width-40{
                                width: 40%;
                            }
                            .width-60{
                                width: 60%;
                            }
                            h3{
                                @include news-li-style();
                                .icon-play{
                                    color: #a6a6a6;
                                }
                                svg{
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .watch{
        .container-header{
            overflow: hidden;
            .h2-style{
                color: #262626;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 1.25;
                padding: 0 0 15px;
                position: relative;
                width: 100%;
                overflow: hidden;
                &:after{
                    content:"" ;
                    width: 85%;
                    height: 9px;
                    display: inline-block;
                    position: absolute;
                    margin-top: 1%;
                    border-top: 4px solid #d9d9d9;
                    border-bottom:4px solid #d9d9d9 ;
                }
            }
        }
        .row{
            .watch-col{
                .video{
                    img{
                        width: 100%;
                        height: auto;
                    }
                    .watch-content{
                        width: 80%;
                        position: relative;
                        z-index: 3;
                        background-color: #e6e6e6;
                        margin:0 auto;
                        margin-top: -28px;
                        padding: 3px 20px 15px;
                        i{
                            color: #c00;
                            font-weight: 400;
                            font-size: 1.46667rem;
                            text-align: center;
                            width: 100%;
                            display: inline-block;
                        }
                        span{
                            overflow: hidden;
                            font-weight: 300;
                            font-size: 1.32rem;
                            color: #262626;
                            text-align: center;
                            line-height: 1.25;
                        }
                    }
                }
            }
        }
    }
    .view{
        .container-header{
            overflow: hidden;
            .h2-style{
                color: #262626;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 1.25;
                padding: 0 0 15px;
                position: relative;
                width: 100%;
                overflow: hidden;
                &:after{
                    content:"" ;
                    width: 85%;
                    height: 9px;
                    display: inline-block;
                    position: absolute;
                    margin-top: 1%;
                    border-top: 4px solid #d9d9d9;
                    border-bottom:4px solid #d9d9d9 ;
                }
            }
            .h2-style2{
                color: #262626;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 1.25;
                padding: 0 0 15px;
                position: relative;
                width: 100%;
                overflow: hidden;
                &:after{
                    content:"" ;
                    width: 85%;
                    height: 9px;
                    display: inline-block;
                    position: absolute;
                    margin-top: 1%;
                    border-bottom: 4px solid #c00;
                    border-top: 4px solid #c00;
                }
            }
        }
        .row{
            .typical-col{
                ul{
                    @include ul-func();
                    .mini-banner{
                        .banner-media{
                            img{
                                height: auto;
                            }
                            i{
                                display: inline-block;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 1rem;
                                line-height: 1;
                                padding: 7px;
                                background: rgba(12,12,12,.3);
                                color: #fefefe;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
                        .mini-banner-titr{
                            .image-status{
                                background: #001a2c;
                                color: #fefefe;
                                position: absolute;
                                bottom: 100%;
                                left: 0;
                                padding: 12px 10px;
                                text-transform: uppercase;
                                font-weight: 700;
                                line-height: 1.33;
                                font-size: 0.8rem;
                            }
                            .h3-style2{
                                font-weight: 650;
                                line-height: 1.2;
                                font-size: 1.333rem;
                            }
                            .h3-color{
                                color: #fefefe;
                            }
                            .big-titr{
                                font-weight: 300;
                                font-size: 2rem;
                                line-height: 1.13333;
                            }
                        }
                        .mini-banner-titr2{
                            width: 100%;
                            background: rgba(38,38,38,.85);
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            padding-left: 10px;
                            padding-right: 10px;
                            padding: 7px 0;
                        }
                    }
                }
            }
        }
    }
    .bg-dark{
        background-color: #1a1a1a;
    }
    .web-footer{
        background: rgb(12, 12, 12) none repeat scroll 0% 0%;
        color: rgb(230, 230, 230);
        padding: 24px 0px;
        .search{
            width: 90%;
            margin: 0 auto;
            color: rgb(77, 77, 77);
            input{
                width: 100%;
                color: rgb(77, 77, 77);
                border-radius: 3px;
                border: 1px solid rgb(77, 77, 77);
                padding: 0px 8px;
                font-size: .8rem;
                height: 35px;
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
            }
            input::placeholder{
                color: rgb(77, 77, 77);
                opacity: 1;
            }
            .search-btn{
                background-color: transparent;
                align-items: center;
                width: 80px;
                top: 46%;
                right: 4px;
                margin: 0;
                padding: 0;
                border: 0px none;
                transform: translateY(-50%);
                cursor: pointer; 
                .search-style{
                    font-size: 14px;
                    font-weight: 700;
                    color: rgb(77, 77, 77);
                }

            }

        }
        .footer-menu{
            width: 90%;
            margin: 0 auto;
            .footer-box{
                flex-flow: row wrap;
                height: auto;
                @include ul-func();
                .unit{
                    text-align: left;
                    width: 13%;
                    .main-title{
                        text-decoration: none;
                        transition: color 0.4s ease 0s;
                        text-align: center;
                        color: rgb(230, 230, 230);
                        font-size: 1.15rem;
                        font-weight: 700;
                        line-height: 12px;
                    }
                    .sub-title{
                        @include ul-func();
                        .sub-title-content{
                            margin: 4px 0px 0px;
                            font-size: 15px;
                            line-height: normal;
                            text-align: left;
                            color: rgb(230, 230, 230);
                            font-weight: 400;
                            letter-spacing: 0px;
                        }
                    }
                }
            }
        }
        .mobile-footer-menu{
            display: none !important;
        }
        .contact-us{
            width: 90%;
            margin: 0 auto;
            .left-side{
                align-items: flex-start;
                .site-logo{
                    align-items: center;
                    overflow: hidden;
                    line-height: 0;
                    height: 40px;
                    cursor: pointer;
                }
            }
            .right-side{
                align-items: flex-end;
                justify-content: end;
                .right-side-box{
                    span{
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: 1.5px;
                        text-transform: uppercase;
                        color: rgb(230, 230, 230);
                        line-height: 1.6;
                    }
                    .vertical-line{
                        margin-left: 16px;
                        margin-right: 16px;
                        height: 24px;
                        border-left: 1px solid rgb(77, 77, 77);
                    }
                    .social-media{
                        @include ul-func();
                        li{
                            margin: 0px 16px 0px 0px;
                            // svg{
                            //     width: 24px;
                            //     height: 24px;
                            //     color: white;
                            // }
                            i{
                                width: 25px;
                                height: 25px;
                                color: white;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        .mobile-contact-us{
            display: none !important;
        }
        .ending-box{
            width: 90%;
            margin: 0 auto;
            .horizental-line{
                hr{
                    border: 0px none;
                    height: 1px;
                    margin: 32px auto;
                    color: white;
                }
            }
            .last-menu{
                ul{
                    @include ul-func();
                li{
                    text-align: center;
                    margin-right: 11px;
                    color: rgb(230, 230, 230);
                    line-height: 12px;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 0px;
                }
                }  
            }
            .description{
                text-align: left;
                span{
                    display: block;
                    font-weight: 400;
                    color: rgb(230, 230, 230);
                    font-size: 12px;
                    line-height: 1.625;
                }
            }
        }
        .mobile-ending-box{
            display: none !important;
        }
    }
}


@media(max-width:996px){
    .main{
        .web-header{
            display: none;
        }
        .mobile-header{
            background: rgb(12, 12, 12) none repeat scroll 0% 0%;
            color: rgb(230, 230, 230);
            display: flex;
            position: sticky;
            z-index: 3;
            box-sizing: border-box;
            font-size: .9em;
            font-weight: 500;
            .row{
                .col-2{
                    .m-menu{
                        ul{
                            @include header-menu();
                            line-height: 3;
                            align-items: center;
                        }
                    }
                }

            }
        } 
        .web-footer{
            .footer-menu{
                display: none !important;
            }
            .mobile-footer-menu{
                display: block !important;
                .row{
                    .m-menu{
                        ul{
                            @include ul-func();
                            margin: 0 auto;
                            display: block;
                            position: relative;
                            align-items:center;
                            li{
                               font-size: 1rem;
                               text-align: center;
                               font-weight: 500;
                               color: white;
                               line-height: 1.5;
                               padding-top:1%;
                               padding-bottom: 5%; 
                            }
                        }
                    }
                }  
            }
            .contact-us{
                display: none !important;
            }
            .mobile-contact-us{
                display: block !important;
                .m-hori-line{
                    hr{
                        border: 0px none;
                        height: 1px;
                        margin: 32px auto;
                        color: white;
                    }
                }
                .row{
                    .list{
                        ul{
                            @include ul-func();
                            margin: 0 auto;
                            position: relative;
                            align-items: center;
                            li{
                                align-items: center;
                                text-align: center;
                                padding-bottom: 5%;
                                span{
                                    font-size: 12px;
                                    font-weight: 700;
                                    letter-spacing: 1.5px;
                                    text-transform: uppercase;
                                    color: rgb(230, 230, 230);
                                    line-height: 1.6; 
                                }
                                .m-social-media{
                                    @include ul-func();
                                    display: flex;
                                    li{
                                        margin-right: 3%;
                                        align-items: center;
                                        text-align: center;
                                        width: 30%;
                                        // svg{
                                        //     width: 30px;
                                        //     height: 30px;
                                        //     color: white;
                                        // }
                                        i{
                                            width: 25px;
                                            height: 25px;
                                            color: white;
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .ending-box{
                display: none !important;   
            }
            .mobile-ending-box{
                display: block !important;
                .part1{
                    .footer-list{
                        @include ul-func();
                        flex-flow: row wrap;
                        height: auto;
                        justify-content: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        li{
                            text-align: center;
                            margin-right: 11px;
                            color: rgb(230, 230, 230);
                            line-height: 12px;
                            font-size: 12px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            padding-bottom: 15px;
                            padding-right: 10px;
                        }
                    }
                }
                .part2{
                    font-size: 12px;
                    text-align: center;
                    color: rgb(230, 230, 230);
                    line-height: 1.625;
                    span{
                        padding-right: 8px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}