@mixin header-menu {
    position: relative;
    list-style: none;
    transition: opacity 0.5s ease 0s;
    opacity: 1;
}
@mixin ul-func {
    list-style: none;
}
@mixin h3-style {
    font-size: 1.06667rem;
    line-height: 1.25;
    font-weight: 700 !important;
}
@mixin news-li-style {
    font-weight: 300;
    font-size: .95rem;
    line-height: 1.33333;
}
@mixin title {
    font-size: 1.06667rem;
    font-weight: 700;
    line-height: 1.375;
}
.main{
    font-family:Arial;
    color: #262626;
    font-size: .9375em;
    line-height: 1.6;
    a{
        text-decoration: none;
        color: #262626;
    }
    .web-header{
        background: rgb(12, 12, 12) none repeat scroll 0% 0%;
        color: rgb(230, 230, 230);
        min-height: 40px;
        display: flex;
        position: sticky;
        z-index: 3;
        height: 5vh;
        box-sizing: border-box;
        font-size: .9em;
        font-weight: 500;
        .row{
            align-items: center;
            overflow: hidden;  
            .col-7{
                .logo{
                      width: 5%;
                      margin-left: 6%;
                      line-height: 0;
                }
                .menu{
                      @include header-menu();
                      width: 85%;
                      margin-left: 2%;
                      line-height:2.5;
                      li{
                        margin-right: 2%;
                        white-space: nowrap;
                        cursor: pointer;
                       }
                }
            }
            .col-5{
                .empty{
                       width: 50%;
                }
                nav{
                    width: 50%;
                    ul{
                        @include header-menu();
                        width: 100%;
                        margin-left: 8%;
                        li{
                            width: 18%;
                            position: relative;
                            cursor: pointer;
                            align-items: center;
                        }
                        .edition{
                            width: 30%;
                            font-size: .8rem;
                        }
                    }


                }
            }
        }
    }
    .mobile-header{
        display: none;
    }
    .menu-bar{
        nav{
            ul{
                @include ul-func();
                white-space: nowrap;
                overflow-x: scroll;
                overflow-x: hidden;
                overflow-y: hidden;
                li{
                    display: inline-block;
                    margin-right: .5%;
                    padding-right: .5%;
                    border-right:2px solid #a6a6a6 ;
                    h3{
                        font-weight: 600;
                        font-size: 14px;
                        padding-right: 0;
                        .label{
                            color: #e30000;
                            letter-spacing: 0;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .first-box{
        .row{
            background-color: rgba(0,0,0,0);
            justify-content: space-between;
            .first-col{
                ul{
                    @include ul-func();
                    .banner{
                        .banner-titr{
                            font-size: 36px;
                            white-space: normal;
                            display: inline-block;
                            text-align: center;
                            word-spacing: -.05em;
                            font-weight: 600;
                            line-height: 1.11111;
                        }
                        .banner-media{
                            overflow: hidden;
                            img{
                                height: auto;
                            }
                        }
                        .banner-content{
                            padding: 7px 0;
                            h3{
                                @include h3-style();
                            }
                        }
                    }
                    li{
                        margin-top: 0;
                        .news{
                            border-bottom:1px solid rgb(199, 194, 194) ;
                            h3{
                                 @include news-li-style();
                                strong{
                                    font-weight: 850;
                                }

                            }
                        }
                    }
                }
            }
            .second-col{
                ul{  
                    @include ul-func();
                    .mini-banner{
                        .banner-media{
                            img{
                                height: auto;
                            }
                        }
                        .mini-banner-titr{
                            h3{
                                @include h3-style();
                            }
                        }
                    }
                    .description{
                        .desc{
                            font-size: .93333rem;
                            line-height: 1.28571;
                            text-decoration: gray !important;
                        }
                    } 
                }
            }
            .third-col{
                ul{
                    @include ul-func();
                    .mini-banner{
                        .banner-media{
                            img{
                                height: auto;
                            }
                        }
                        .mini-banner-titr{
                            h3{
                                @include h3-style();
                            }
                        }
                    }
                    li{
                        margin-top: 0;
                        .news{
                            border-bottom:1px solid rgb(199, 194, 194) ;
                            h3{
                                @include news-li-style();
                                svg{
                                    color: red;
                                }
                                strong{
                                    font-weight: 850;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .general-news{
        .row{
            .typical-col{
                .titr{
                    background-color: #f2f2f2;
                    .title{
                        color: #404040;
                        @include title();
                    }
                }
                ul{
                    @include ul-func();
                    li{
                        .news{
                            border-bottom:1px solid rgb(199, 194, 194) ;
                        }
                    }
                }
            }
        }
    }
}


@media(max-width:996px){
    .main{
        .web-header{
            display: none;
        }
        .mobile-header{
            background: rgb(12, 12, 12) none repeat scroll 0% 0%;
            color: rgb(230, 230, 230);
            display: flex;
            position: sticky;
            z-index: 3;
            box-sizing: border-box;
            font-size: .9em;
            font-weight: 500;
            .row{
                .col-2{
                    .m-menu{
                        ul{
                            @include header-menu();
                            line-height: 3;
                        }
                    }
                }

            }
        } 
    }
}