.main {
  font-family: Arial;
  color: #262626;
  font-size: .9375em;
  line-height: 1.6;
}

.main a {
  text-decoration: none;
  color: #262626;
}

.main .web-header {
  background: #0c0c0c none repeat scroll 0% 0%;
  color: #e6e6e6;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  height: 5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: .9em;
  font-weight: 500;
}

.main .web-header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main .web-header .row .col-7 .logo {
  width: 5%;
  margin-left: 6%;
  line-height: 0;
}

.main .web-header .row .col-7 .menu {
  position: relative;
  list-style: none;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  opacity: 1;
  width: 85%;
  margin-left: 2%;
  line-height: 2.5;
}

.main .web-header .row .col-7 .menu li {
  margin-right: 2%;
  white-space: nowrap;
  cursor: pointer;
}

.main .web-header .row .col-5 .empty {
  width: 50%;
}

.main .web-header .row .col-5 nav {
  width: 50%;
}

.main .web-header .row .col-5 nav ul {
  position: relative;
  list-style: none;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  opacity: 1;
  width: 100%;
  margin-left: 8%;
}

.main .web-header .row .col-5 nav ul li {
  width: 18%;
  position: relative;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .web-header .row .col-5 nav ul .edition {
  width: 30%;
  font-size: .8rem;
}

.main .mobile-header {
  display: none;
}

.main .menu-bar nav ul {
  list-style: none;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main .menu-bar nav ul li {
  display: inline-block;
  margin-right: .5%;
  padding-right: .5%;
  border-right: 2px solid #a6a6a6;
}

.main .menu-bar nav ul li h3 {
  font-weight: 600;
  font-size: 14px;
  padding-right: 0;
}

.main .menu-bar nav ul li h3 .label {
  color: #e30000;
  letter-spacing: 0;
  text-transform: uppercase;
}

.main .first-box .row {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .first-box .row .first-col ul {
  list-style: none;
}

.main .first-box .row .first-col ul .banner .banner-titr {
  font-size: 36px;
  white-space: normal;
  display: inline-block;
  text-align: center;
  word-spacing: -.05em;
  font-weight: 600;
  line-height: 1.11111;
}

.main .first-box .row .first-col ul .banner .banner-media {
  overflow: hidden;
}

.main .first-box .row .first-col ul .banner .banner-media img {
  height: auto;
}

.main .first-box .row .first-col ul .banner .banner-content {
  padding: 7px 0;
}

.main .first-box .row .first-col ul .banner .banner-content h3 {
  font-size: 1.06667rem;
  line-height: 1.25;
  font-weight: 700 !important;
}

.main .first-box .row .first-col ul li {
  margin-top: 0;
}

.main .first-box .row .first-col ul li .news {
  border-bottom: 1px solid #c7c2c2;
}

.main .first-box .row .first-col ul li .news h3 {
  font-weight: 300;
  font-size: .95rem;
  line-height: 1.33333;
}

.main .first-box .row .second-col ul {
  list-style: none;
}

.main .first-box .row .second-col ul .mini-banner .banner-media img {
  height: auto;
}

.main .first-box .row .second-col ul .mini-banner .mini-banner-titr h3 {
  font-size: 1.06667rem;
  line-height: 1.25;
  font-weight: 700 !important;
}

.main .first-box .row .second-col ul .description .desc {
  font-size: .93333rem;
  line-height: 1.28571;
  -webkit-text-decoration: gray !important;
          text-decoration: gray !important;
}

.main .first-box .row .third-col ul {
  list-style: none;
}

.main .first-box .row .third-col ul .mini-banner .banner-media img {
  height: auto;
}

.main .first-box .row .third-col ul .mini-banner .mini-banner-titr h3 {
  font-size: 1.06667rem;
  line-height: 1.25;
  font-weight: 700 !important;
}

.main .first-box .row .third-col ul li {
  margin-top: 0;
}

.main .first-box .row .third-col ul li .news {
  border-bottom: 1px solid #c7c2c2;
}

.main .first-box .row .third-col ul li .news h3 {
  font-weight: 300;
  font-size: .95rem;
  line-height: 1.33333;
}

@media (max-width: 996px) {
  .main .web-header {
    display: none;
  }
  .main .mobile-header {
    background: #0c0c0c none repeat scroll 0% 0%;
    color: #e6e6e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: .9em;
    font-weight: 500;
  }
  .main .mobile-header .row .col-2 .m-menu ul {
    position: relative;
    list-style: none;
    -webkit-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
    opacity: 1;
    line-height: 3;
  }
}
/*# sourceMappingURL=style.css.map */